* 
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body
{
    background: #c1daf4;
}
.phone
{
    margin-top: 20px;
}
.phone .screen
{
    width: 42%;
    height: 625px;
    margin: 0 auto;
    border: 8px solid #c1daf4;
    min-width: 310px;
    max-width: 310px;
    border-radius: 44px;
    background: #c1daf4;
    box-shadow: 
    12px 12px 32px rgba(13,39,80,0.25),
    -10px 10px 15px #1d191977
}
.screen .notch
{
    width: 159px;
    height: 30px;
    margin: 0px auto;
    background: #c1daf4;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius:15px ;
}

.top-nav
{
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.area
{
    min-width: 50%;
    width: 93%;
    min-height: 120px;
    margin-left: -5px;
    margin-top: -5px;
    font-size: 30px;
    text-align: center;
    text-align: right;
    overflow: scroll;
    outline: none;
    border: none;
    font-weight: bold;
    color: #0b254e;
    background: #97badd;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 
    6px 6px 8px rgba(13, 39, 80, 0.25),
    -6px -6px 10px #fff,
    inset -8px -8px 12px rgba(255,255,255,0.7),
    inset 5px 5px 8px rgba(13,39,80,0.2);

}
.calculator
{
    margin: 0;
    box-sizing: content-box;
}
.key
{
    float:  left;
    font-size: 15pt;
    display: flex;
    margin: -5%;
    margin-left: auto;
    margin-right: auto;
}
.first-col,
.second-col,
.third-col,
.fourth-col,
.fifth-col
{
    padding: 10px;
    white-space: wrap;
    margin: -9.5px;
    display: inline-block;
    margin-top: 20px;
    justify-content: space-between;
}
.button
{
    display: block;
    padding-left: 40px;
    min-height: 40px;
    padding-right: 30px;
    white-space: wrap;
    word-wrap: break-word;
    margin-top: 20px;
    justify-content: space-between;
}
button
{
    position: relative;
    margin-left: -54px;
    min-width: 45px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
    background: transparent;
    color: #1b2219e0;
    border: none;
    border-radius: 10px;
    height: 45px;
    outline: none;
    font-weight:  bold;
    font-size: 14pt;
    box-shadow: 
    4px 4px 8px rgba(13, 39,80,0.25),
    -4px 4px 8px #fff;
}
.btn-work
{
    color: #0b254e;
}
.btn-equal
{
    color: #0b254e;
    height: 120px;
}
button:focus
{
    cursor: pointer;
    outline: none;
    border: none;

}
button:active
{
    box-shadow: 
    -3px -3px 7px #a0a0a032,
    3px 3px 5px rgba(94, 104, 121, 0.579);
    outline: none;
    border: none;
}
button:hover{
    color: #696a6a;
}
.btn-work:hover,
.btn-equal:hover{
    color: #0c3474;
}